<% @title = "Pitchr | Sign Up" %>
  <div class="login-box">
    <section class="portlet login-box-top">
          <header>
            <h1 class="logo"><a href="/">Pitchr</a></h1>
            <h2 class="ac">Sign up</h2>
          </header>
          <section>
              <div class="message info">Enter your details to create an account</div>

              <%= form_for @user, :url => "/register", :method => :post, :html => {:class => "has-validation", :style => "margin-top:30px"} do |f| %>
                  <p style="margin-bottom: 30px">
                    <%= f.text_field :email, :class => "full", :required => "required", :placeholder => "Email" %>
                    <% if @user.errors[:email].present? %>
                      <ul class="error-messages">
                        <% @user.errors[:email].each do |error| %>
                        <li><%= error %></li>
                        <% end %>
                      </ul>
                    <% end %>                  </p>
                  <p style="margin-bottom: 30px">
                    <%= f.password_field :password, :class => "full", :required => "required", :placeholder => "Password" %>

                    <% if @user.errors[:password].present? %>
                      <ul class="error-messages">
                        <% @user.errors[:password].each do |error| %>
                        <li><%= error %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </p>
                  <p style="margin-bottom: 30px">
                    <%= f.password_field :password_confirmation, :class => "full", :required => "required", :placeholder => "Confirm Password" %>
                    <% if @user.errors[:password_confirmation].present? %>
                      <ul class="error-messages">
                        <% @user.errors[:password_confirmation].each do |error| %>
                        <li><%= error %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </p>
                  <p class="clearfix">
                    <span class="fl" style="line-height: 23px;">
                        <label class="choice" for="terms">
                            <input type="checkbox" id="terms" class="" value="1" name="terms"/>
                            I agree to the <a href="/terms" target="_blank">Terms of Service</a>
                        </label>
                    </span>

                    <button class="fr" type="submit">Register</button>
                  </p>
              <% end %>
              <footer class="ac">
                Already have an account?
                <a href="/login">log in now</a>
                <%# <a href="#" class="button">Reset Password</a> %>
                <%# <a href="/register" class="button">Register</a> %>
              </footer>
          </section>
    </section>
</div>